/* PLACEHOLDER COLOR */

::placeholder {
    color: #ffffff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ffffff;  
}

::-ms-input-placeholder {
    color: #ffffff;
}

/* TAGS */

* {
    box-sizing: border-box;
}

rect {
    /* positioning */
    z-index: 1;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;

    /* styling */
    fill: var(--primary-color);
    stroke: var(--secondary-color);
    stroke-width: 2.5px;
}

input {
    /* positioning */
    z-index: 2;
    position: absolute;
    margin-left: 120px;
    padding-top: 21px;
    width: 172px;
    height: 43px;
    transition: 500ms;
    font-size: 13px;

    /* styling */
    font-family: "Roboto", sans-serif;
    background: var(--primary-color);
    color: #ffffff;
    border: none;
    }

input:hover, input:focus {
    outline-width: 0;
    font-size: 14px;
}

/* CLASSES */

.rect-config-1 {
    stroke-dashoffset: -729;
    stroke-dasharray: 197 509;
}

.rect-config-2 {
    stroke-dashoffset: -1058;
    stroke-dasharray: 197 509;
}

.rect-config-3 {
    stroke-dashoffset: -783;
    stroke-dasharray: 231 586;
}

.rect-config-4 {
    stroke-dashoffset: -1058;
    stroke-dasharray: 198 502;
}

/* IDS */

#email {
    margin-top: 205px;
}

#register-username, #login-username {
    margin-top: 255px;
}

#register-password, #login-password {
    margin-top: 305px;
}

#email-icon {
    width: 17px;
    position: absolute;
    top: 14.35rem;
    left: 6.1rem;
}

#username-icon {
    width: 22px;
    position: absolute;
    top: 17.2rem;
    left: 5.9rem;
}

#password-icon {
    width: 12px;
    position: absolute; 
    top: 20.5rem;
    left: 6.2rem;
}