/* COLOR VARS */

:root {
    --primary-color: #867b6c;
    --secondary-color: #303841;
}

/* TAGS */

html, body {
    background-color: var(--primary-color);
    overflow: hidden;
}

button {
    /* positioning */
    position: absolute;
    z-index: 100;
    width: 185px;
    height: 35px; 
    margin-left: 101px;
    transition: 500ms;

    /* styling */
    background: var(--primary-color);
    border: 2px solid var(--secondary-color);
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    border-radius: 22px;

    /* animation */
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

button:hover {
    color: var(--primary-color);
    background: #ffffff;
}

button:focus {
    outline-width: 0;
}

/* CLASSES */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shake-animation {
    animation-name: shakeAnimation;
}

.error-message {
    /* positioning */
    top: 185px;
    width: 90%;
    height: 22px;
    text-align: center;
    padding-top: 5.5px;

    /* styling */
    font-size: 11px;
    display: none;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    background-color: var(--secondary-color);
    opacity: 0.7;
}

/* IDS */ 

#city-gif {
    z-index: -1;
    position: fixed;
    object-fit: cover;
    pointer-events: none;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#login-block {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 350px;
    transition: 1s;

    /* styling */
    background-color: var(--primary-color);
    background: var(--primary-color);
    opacity: 0.7;
}

#login-block:hover {
    opacity: 0.85;
}

#eol-logo {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    top: 130px;
    width: 85%;
}

#form-block {
    position: relative;
    bottom: 150px;
}

#register-form-block {
    position: relative;
    bottom: 100px;
}

#login-button, #register-button {
    margin-top: 421px;
}

#register-view-button, #back-button {
    margin-top: 468px;
}

#error-icon {
    width: 14px;
    position: absolute;
    top: 0.31rem;
    left: 0.7rem;
}

#login-error-message {
    top: 235px;
}

/* SHAKE ANIMATION */

@keyframes shakeAnimation {
    0% {left: 0}
    15% {left: -5px}
    30% {left: 7px}
    45% {left: -9px}
    60% {left: 9px}
    75% {left: -7px}
    90% {left: 5px}
    100% {left: 0}
  }