<!DOCTYPE html>
<html>
    <head>
        <title>EOL</title>
        
        <meta charset="utf-8">       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- stylesheets -->
        <link href="./_css/home.css" rel="stylesheet" type="text/css"> 
        <link href="./_css/map.css" rel="stylesheet" type="text/css"> 
        <link href="./_css/modal.css" rel="stylesheet" type="text/css"> 
    </head>
    <body>
        <div id='overlay'>
            <div id='modal-anchor'></div>
        </div>

        <div id='map'></div>

        <div id='map-canvas'>
            <div id='add-spot-wrapper'>
                <img id='add-spot-icon' class='top-icon' src='./../assets/images/add-spot-icon.png' alt='Add Spot Icon'>
            </div>

            <div id='profile-wrapper'>
                <img id='profile-icon' class='top-icon' src='./../assets/images/profile-icon.png' alt='Profile Icon'>
            </div>
            
            <div id='search-wrapper'>
                <input id='search-bar' name='Search Bar' type='text'>
            </div>

            <div id='zoom-controller'>
                <img id='zoom-in' class='zoom-button' src='./../assets/images/add-icon.png' alt='Plus Icon'>
                <img id='zoom-out' class='zoom-button' src='./../assets/images/minus-icon.png' alt='Minus Icon'>
            </div>
    
            <div id='spot-window'></div>
        </div>

        <!-- load requirejs with main/main -->
        <script type='application/javascript' src="./../lib/require-min.js"></script>
        <script type='application/javascript' src="./../main/config.js"></script>

        <!-- load feature javascript files -->
        <script type='application/javascript' src="./_js/home.js"></script>

        <!-- load google maps api -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU6GLUtVJH1YBM8bKGh_jcg98wUu7Xri4&callback=initMap" async defer></script>
    </body>
</html>

<script id='spot-window-template' type='text/template'>
    <div id='info-panel'>
        <h2>Spot Information</h2>
        <img id='edit-spot' src='./../assets/images/edit-spot-icon.png' alt='Edit Icon'>
        <div class='info-section'>
            <h3>Name</h3>
            <div class='info-section-body'>
                <%= spot.title %>
            </div>
        </div>
        <div class='info-section'>
            <h3>Author</h3>
            <div class='info-section-body'>
                <%= spot.author %>
            </div>
        </div>
        <div class='info-section'>
            <h3>Type</h3>
            <div class='info-section-body'>
                <%= spot.type %>
            </div>
        </div>
        <div class='info-section'>
            <h3>Description</h3>
            <div id='info-description'>
                <%= spot.description %>
            </div>
        </div>
    </div>
    <div id='comment-panel'>
        <h2>Comments</h2>
        <img id='add-comment' src='./../assets/images/add-icon.png' alt='Plus Icon'>
        <div id='comment-section'>
            <% for (var i in spot.comments) { %>
                <div class='comment-body'>
                    <h3><%= spot.comments[i].user %></h3>
                    <div class='comment-dash-1'>|</div>
                    <div class='comment-time'><%= spot.comments[i].time %></div>
                    <div class='comment-dash-2'>|</div>
                    <div class='reply-button'
                        data-comment-username='<%= spot.comments[i].user %>' 
                        data-comment-id='<%= spot.comments[i].commentId %>'>Reply
                    </div>
                    <div class='comment-text'><%= spot.comments[i].text %></div>
                </div>
                <div class='reply-section'>
                    <% if (spot.comments[i].replies.length) { %>
                        <img class='reply-indent' src='./../assets/images/reply-indent-icon.png' alt='Reply Indent Icon'>
                    <% } %>
                    <% for (var j in spot.comments[i].replies) { %>
                        <div class='comment-body'>
                            <h3><%= spot.comments[i].replies[j].user %></h3>
                            <div class='comment-dash-1'>|</div>
                            <div class='comment-time'><%= spot.comments[i].replies[j].time %></div>
                            <div class='comment-dash-2'>|</div>
                            <div class='reply-button' 
                                data-comment-username='<%= spot.comments[i].replies[j].user %>' 
                                data-comment-id='<%= spot.comments[i].replies[j].commentId %>'>Reply
                            </div>
                            <div class='comment-text'><%= spot.comments[i].replies[j].text %></div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</script>

<script id='profile-window-template' type='text/template'></script>

<script id='add-comment-modal-template' type='text/template'>
    <div id='comment-modal-base' class='center'>
        <div id='comment-modal-header'>
            <div class='modal-header-text'></div>
            <img class='modal-exit-icon' src='./../assets/images/cross-icon.png' alt='Exit Icon'>
        </div>
        <div id='comment-modal-forms'>
            <textarea id='comment-text' class='center' placeholder='Share your thoughts!'></textarea>
        </div>
        <div id='comment-modal-footer'>
            <div class='post-button'>Post</div>
        </div>
    </div>
</script>

<script id='add-spot-modal-template' type='text/template'>
    <div id='spot-modal-base' class='center'>
        <div id='spot-modal-header'>
            <div id='spot-modal-header-text' class='modal-header-text'></div>
            <img id='spot-modal-exit-button' class='modal-exit-icon' src='./../assets/images/cross-icon.png' alt='Exit Icon'>
        </div>
        <div id='spot-modal-forms'>
            <div class='spot-modal-form'>
                <div class='spot-modal-form-header'>Title</div>
                <input id='modal-title-input' placeholder='Add a title...'>
            </div>
            <div class='spot-modal-form'>
                <div class='spot-modal-form-header'>Type</div>
                <select id='modal-type-input' name=''>
                    <option value='' disabled selected>Select a type...</option>
                    <option value='Food/Restaurant'>Food/Restaurant</option>
                    <option value='Shop'>Shop</option>
                    <option value='Residence'>Residence</option>
                    <option value='Park'>Park</option>
                    <option value='Landmark'>Landmark</option>
                    <option value='Other'>Other</option>
                </select>
            </div>
            <div class='spot-modal-form'>
                <div class='spot-modal-form-header'>Description</div><br>
                <textarea id='modal-description-input' placeholder='Add a description...'></textarea>
            </div>
        </div>
        <div id='spot-modal-footer'>
            <div id='spot-modal-done-button' class='post-button'>Done</div>
        </div>
    </div>
</script>
