<!DOCTYPE html>
<html>
    <head>
        <title>EOL</title>
        
        <meta charset="utf-8">       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- stylesheets -->
        <link href="./_css/home.css" rel="stylesheet" type="text/css"> 
        <link href="./_css/map.css" rel="stylesheet" type="text/css"> 
    </head>
    <body>
        <div id='map'></div>

        <div id='map-canvas'>
            <div id='add-spot-wrapper'>
                <img id='add-spot-icon' class='top-icon' src='./../assets/images/add-spot-icon.png' alt='Add Spot Icon'>
            </div>

            <div id='profile-wrapper'>
                <img id='profile-icon' class='top-icon' src='./../assets/images/profile-icon.png' alt='Profile Icon'>
            </div>
            
            <div id='search-wrapper'>
                <input id='search-bar' name='Search Bar' type='text'>
            </div>

            <div id='zoom-controller'>
                <img id='zoom-in' src='./../assets/images/add-icon.png' alt='Plus Icon'>
                <img id='zoom-out' src='./../assets/images/minus-icon.png' alt='Minus Icon'>
            </div>
    
            <div id='spot-window'></div>
        </div>

        <!-- load requirejs with main/main -->
        <script type='application/javascript' src="./../lib/require-min.js"></script>
        <script type='application/javascript' src="./../main/config.js"></script>

        <!-- load feature javascript files -->
        <script type='application/javascript' src="./_js/home.js"></script>

        <!-- load google maps api -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU6GLUtVJH1YBM8bKGh_jcg98wUu7Xri4&callback=initMap" async defer></script>
    </body>
</html>

<script id='spot-window-template' type='text/template'>
    <div id='info-panel'>
        <h2>Spot Information</h2>
        <div class='info-section'>
            <h3>Name</h3>
            <div class='info-section-body'>
                <%= spot.title %>
            </div>
        </div>
        <div class='info-section'>
            <h3>Author</h3>
            <div class='info-section-body'>
                <%= spot.author %>
            </div>
        </div>
        <div class='info-section'>
            <h3>Type</h3>
            <div class='info-section-body'>
                <%= spot.type %>
            </div>
        </div>
        <div class='info-section'>
            <h3>Description</h3>
            <div id='info-description'>
                <%= spot.description %>
            </div>
        </div>
    </div>
    <div id='comment-panel'>
        <h2>Comments</h2>
        <div id='comment-section'>
            <% for (var i in spot.comments) { %>
                <div id='comment-body'>
                    
                    <div id='comment-text'><%= spot.comments[i].text %></div>
                    <div id='comment-user'><%= spot.comments[i].user %></div>
                    <div id='comment-time'><%= spot.comments[i].time %></div>
                    <div id='reply-button'></div>

                    <% for (var reply in spot.comments[i].replies) { %> 
                        <div id='reply-body'>
                            <div id='reply-text'></div>
                            <div id='reply-user'></div>
                            <div id='reply-time'></div>
                        </div>

                        <div id='reply-field'></div>
                    <% } %>
                </div>
            <% } %>

            <!-- ADD COMMENT -->
            <!-- <div id='comment-field'></div> -->
        </div>
    </div>
</script>
