/* TAGS */

html {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 20px;
    margin-left: 8px;
    margin-top: 7px;
}

/* CLASSES */

.top-icon {
    position: absolute;
    z-index: 99;
    width: 45px;
    top: 22.5px;
    cursor: pointer;
}

.zoom-button {
    /* positioning */
    position: absolute;
    z-index: 99;
    right: 3%;

    /* styling */
    border: 2px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}

.info-section {
    position: relative;
    left: 10px;
    margin-top: 15px;
    font-size: 13px;
}

.info-section-body {
    position: relative;
    float: right;
    right: 25px;
    bottom: 29.8px;
}

/* IDS */

#add-spot-icon {
    left: 3%;
}

#profile-icon {
    right: 3%;
}

#search-wrapper {
    /* positioning */
    position: absolute;
    z-index: 99;
    width: 35%;
    top: 25px;
    left: calc(50% - (35% / 2));

    /* styling */
    transition: 1s;
}

#search-bar {
    /* positioning */
    z-index: 99;
    height: 35px;
    width: 100%;
    /* padding-left: 12px;
    padding-right: 12px; */

    /* styling */
    border: 1.5px solid #000000;
    border-radius: 3px;
    outline-width: 0;
    font-size: 18px;
}

#zoom-in {
    width: 34px;
    padding: 5.5px;
    bottom: 98px;
}

#zoom-out {
    width: 37px;
    padding: 4px;
    bottom: 42px;
}

#spot-window {
    /* positioning */
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 40%;
    top: 0;
    left: -41%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    /* styling */
    background-color: #f0f0f0;
    transition: 1s;
    border-right: 1.5px solid;
    border-radius: 10px;
}

#info-panel {
    order: 2;
    border-bottom: 1px solid black;
}

#info-description {
    position: relative;
    left: 4%;
    max-height: 135px;
    width: 88%;
    margin-top: -5px;
    margin-bottom: 15px;
    overflow: scroll;
}

#comment-panel {
    order: 3;
    font-size: 13px;
}