/* TAGS */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* IDS */

#map {
    height: 100%;
}

#iw-header {
    width: 210px;
    margin-bottom: 15px;
    font-size: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#iw-button {
    position: relative;
    height: 22px;
    width: 85px;
    left: 74px;
    margin-top: 6px;
    border-radius: 1px;
    outline: 0;
}